
config/local.js
/resultado.txt
/teste2.json
/teste.json



node_modules


.tmp


*~
*#
.DS_STORE
.netbeans
nbproject
.idea
.node_history
dump.rdb

npm-debug.log
lib-cov
*.seed
*.log
*.out
*.pid
package-lock.json

examples/gerar-boleto-Caixa.js